
	<h3>Change the password</h3>

	<form ng-submit="ChangePassword()"> 

		<!-- AUTHOR -->
		<div class="form-group">
			<input type="password" class="form-control input-sm" name="formerPassword" ng-model="passwordForm.oldPassword" placeholder="Ancien mot de passe">
		</div>
		<div class="form-group">
			<input type="password" class="form-control input-sm" name="newPassword" ng-model="passwordForm.newPassword" placeholder="Nouveau mot de passe">
		</div>
		
		<!-- SUBMIT BUTTON -->
		<div class="form-group text-right">	
			<button type="submit" class="btn btn-primary btn-sm">Change the password</button>
		</div>
	</form>