<h5>Change your password</h5>

<form ng-submit='ResetPassword()'>

	<input type="hidden" ng-model="resetForm.token">

	<div class="form-group">
		<input type="email" class="form-control input-sm"  ng-model="resetForm.email" placeholder="email">
	</div>
	<div class="form-group">
		<input type="password" class="form-control input-sm"  ng-model="resetForm.password" placeholder="new password">
	</div>

	<div class="form-group">
		<input type="password" class="form-control input-sm" ng-model="resetForm.password_confirmation" placeholder="confirm new password">
	</div>
	
	<div class="form-group text-right" ng-show='resetForm.email && resetForm.password && resetForm.password_confirmation'>	
		<button  type="submit" class="btn btn-primary btn-sm">Change my password</button>
	</div>
</form>
